/* .App {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.App > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
} */

a {
  text-decoration: none;
  color: black;
}

.card {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1%;
}

.details-info {
  align-items: center;
  background-color: rgb(245, 245, 245);
  display: flex;
  justify-content: space-evenly;
}

.seller-orders {
  align-items: center;
  background-color: rgb(245, 245, 245);
  display: flex;
  margin-top: 20px;
  padding: 5px 5px 5px 0;
  width: fit-content;
}

.seller-orders > * {
  margin: 5px;
  margin-right: 0;
}
